{% extends 'base.html.twig' %}

{% block title %}Telphone {{phone.nom}}{% endblock %}

{% block body %}
  <h1>Telephone {{phone.nom}}</h1>
  <ul class="list-group">
  <li class="list-group-item">Code IMEI: {{phone.codeImei }}</li>
  <li class="list-group-item">Marque : {{phone.marque }}</li>
  <li class="list-group-item">Couleur: {{phone.couleur }}</li>
  <li class="list-group-item">capacite: {{phone.stockage }} g</li>
</ul>
{% endblock %}
